---
layout: default
---

<div class="home">


  <div class="row pack">

    {% for post in paginator.posts %}
      <div class="col-md-4 card">
       <a href="{{ post.url | prepend: site.baseurl | remove_first: '/'}}" class="index-anchor">
        <div class="panel panel-default">

          {% if post.img %}
          <img width="100%" src="{{post.img | remove_first: '/'}}" alt="{{post.title}}">
          {% endif %}

          <div class="panel-body">
          <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
          </div>

          <div class="panel-body"><small>
          {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
          </div>
        </div>
        </a>
      </div>

      {% endfor %}

  </div>

<div class="row">
  <div class="col-md-4">  </div>
  <div class="col-md-4">
    {% if paginator.total_pages > 1 %}
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: '/'}}">&laquo; Prev</a></li>
      {% else %}
      <li><span>&laquo; Anterior</span></li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="active"><span><em>{{ page }}</em></span></li>
      {% elsif page == 1 %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: '/' }}">{{ page }}</a></li>
      {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | remove_first: '/' }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: '/'}}">Next &raquo;</a></li>
      {% else %}
      <li><span >Siguiente &raquo;</span></li>
      {% endif %}
      </ul>
    {% endif %}

  </div>
  <div class="col-md-4">  </div>
</div>
</div>
