<footer>
  <div class="container">
    <div class="row p20">
      <div class="col-md-4 text-center mt25">
         {% if site.email %}
        <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
        {% endif %}
      </div>
    </div> 
  </div>
</footer>
