<head>
{% assign base = '' %}
{% assign depth = page.url | split: '/' %}
{% for dots in depth offset: 1 %}
  {% assign base = base | append: '../' %}
{% endfor %}
<base href="{{ base }}" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<link rel="stylesheet" href="css/main.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="feed.xml">  
<link rel="stylesheet" href="css/font-awesome.min.css">
</head>
