<div class="col-md-4 mt20">
    <div class="post-img">
       {% if page.img %}
      <img width="600" src="{{page.img | remove_first: '/'}}" alt="{{page.title}}">
      {% endif %}
    </div>

    <div class="mt10 recent">
      <h2>Libros recientes</h2>
       <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <p><a href="{{ post.url | prepend: site.baseurl | remove_first: '/' }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
          </li>
        {% endfor %}
        </ul>
    </div>
</div>
