---
layout: default
---
<div class="row">
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% for author in page.author %}
          • <span
            itemprop="author"
            itemscope
            itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author }}</span>
            </span>
        {% endfor %}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="post-download">
      {% for file in page.files %}
        <a class="btn btn-success" href="{{ file[1] }}">{{ file[0] }}</a>

        {% if file[0] == 'EPUB' %}
          <a
            class="btn btn-success"
            href="reader/?book={{ file[1] | remove_first: '/' | url_encode }}">Leer</a>
        {% endif %}
      {% endfor %}
      </div>
    </article>

    <div class="row">
      <ul class="pager">
      {% if page.next.url %}
          <li><a class="next" href="{{page.next.url | prepend: site.baseurl | remove_first: '/' }}">&laquo; {{page.next.title}}</a></li>
        {% endif %}
        {% if page.previous.url %}
        <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl | remove_first: '/' }}">{{page.previous.title}} &raquo;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% include sidebar.html %}

</div>
